In [1]:
# # Use this the first time setting up the conda environment
# !pip install mysql-connector-python
# !pip install pymysql
# !pip install ipython-sql pymysql
# !pip install cryptography
# !pip install PyQt5
import pymysql
import pandas as pd
import hashlib
import csv
import ipywidgets as widgets
from IPython.display import display
import mysql.connector

# Base functions referenced in future cells
def hash_password(password): # kayla update this with your preferred hash
    return hashlib.sha256(password.encode()).hexdigest()

In [3]:
### Fill in your user data
user_info = {
    'username': 'haleyap',
    'password': '421SQLpass!'
}

In [6]:
# Run this cell and it will either connect to your existing database or create it from the sample data
# Connect to the MySQL serve
db = pymysql.connect(
    host='localhost',    
    user=user_info['username'],
    password=user_info['password'],
)
cursor = db.cursor()
cursor.execute("DROP SCHEMA cafeteria")

3

In [8]:
cursor.execute('CREATE DATABASE cafeteria;')
cursor.execute("USE cafeteria")
### Define the students table
declare_students='''
CREATE TABLE Students (
    pid INT PRIMARY KEY,
    first_name VARCHAR(255) NOT NULL,
    last_name VARCHAR(255) NOT NULL,
    meal_balance DECIMAL(8, 2) DEFAULT 0.00,
    to_go_boxes_remaining INT DEFAULT 2,
    password_hash CHAR(64) NOT NULL,
    role CHAR(8) DEFAULT "student"
);
'''

### Define the menu table
declare_menu='''
CREATE TABLE Menu (
    item_id INT PRIMARY KEY AUTO_INCREMENT,
    item_name VARCHAR(255) NOT NULL,
    calories_per_serving INT NOT NULL,
    meal_type CHAR(64) NOT NULL,
    available_date DATE NOT NULL,
    price DECIMAL(8, 2) NOT NULL,
    quantity INT NOT NULL CHECK (quantity > 0)

);
'''

### Define the transactions table
declare_transactions='''
CREATE TABLE Transactions (
    transaction_id INT PRIMARY KEY AUTO_INCREMENT,
    pid INT NOT NULL,
    item_id INT NOT NULL,
    transaction_type VARCHAR(50) NOT NULL,
    transaction_date DATE NOT NULL,
    FOREIGN KEY (pid) REFERENCES Students(pid),
    FOREIGN KEY (item_id) REFERENCES Menu(item_id)
);
'''

# execute and commit changes
cursor.execute(declare_students)
cursor.execute(declare_menu)
cursor.execute(declare_transactions)
db.commit()

# load from csv like in HW2

# Do so for each of the tables
with open('data/students.csv') as file:
    headers=next(file)
    headers=headers.split(',')
    headers=[h.strip() for h in headers]
    reader=csv.reader(file) 
    info_list=[]
    for r in reader:
        r[-1]=hash_password(r[-1]) # hash password to store
        # I think we weren't supposed to construct the string this way but cannot remember
        cursor.execute(f'INSERT INTO Students ({", ".join(headers)}) VALUES (%s, %s, %s, %s, %s, %s, %s)', r)


with open('data/menu.csv') as file:
    headers=next(file)
    headers=headers.split(',')
    headers=[h.strip() for h in headers]
    reader=csv.reader(file) 
    info_list=[]
    # Insert the To-Go Box entry programmatically
    to_go_box = ['-1', 'To-Go Box', '0', 'To-Go', '2024-12-01', '0.00', '10']  # Matching 7 columns
    cursor.execute(f'INSERT INTO Menu ({", ".join(headers)}) VALUES (%s, %s, %s, %s, %s, %s, %s)', to_go_box)
    # Insert the rest of the menu items
    for r in reader:
        print(headers)
        print(r)
        # I think we weren't supposed to construct the string this way but cannot remember
        cursor.execute(f'INSERT INTO Menu ({", ".join(headers)}) VALUES (%s, %s, %s, %s, %s, %s, %s)', r)

with open('data/transactions.csv') as file:
    headers=next(file)
    headers=headers.split(',')
    headers=[h.strip() for h in headers]
    reader=csv.reader(file) 
    info_list=[]
    for r in reader:
        # I think we weren't supposed to construct the string this way but cannot remember
        cursor.execute(f'INSERT INTO Transactions ({", ".join(headers)}) VALUES (%s, %s, %s, %s, %s)', r)
# Commit changes
db.commit()

['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['1', 'Oatmeal', '150', 'breakfast', '2024-11-12', '5.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['2', 'Banana Pancakes', '200', 'breakfast', '2024-11-12', '11.0', '200']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['3', 'Grilled Chicken Sandwich', '600', 'dinner', '2024-11-12', '8.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['4', 'Spaghetti Bolognese', '450', 'dinner', '2024-11-12', '6.0', '200']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['5', 'Pasta Primavera', '450', 'lunch', '2024-11-12', '11.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['6', 'Chicken Caesar Wrap', '300', 'lunch', '2024-11-12', '8.0', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['7', 'Bagel with Cream Cheese', '250', 'breakfast', '2024-11-13', '5.5', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['8', 'Fruit Parfait', '200', 'breakfast', '2024-11-13', '6.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['9', 'Vegan Burrito Bowl', '500', 'lunch', '2024-11-13', '9.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['10', 'Mediterranean Veggie Wrap', '400', 'lunch', '2024-11-13', '7.5', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['11', 'Shrimp Scampi', '600', 'dinner', '2024-11-13', '12.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['12', 'BBQ Pulled Pork Sandwich', '700', 'dinner', '2024-11-13', '9.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['13', 'Avocado Toast', '300', 'breakfast', '2024-11-14', '6.5', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['14', 'Greek Yogurt Parfait', '250', 'breakfast', '2024-11-14', '6.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['15', 'Chicken Alfredo Pasta', '550', 'lunch', '2024-11-14', '10.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['16', 'Turkey BLT Sandwich', '450', 'lunch', '2024-11-14', '9.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['17', 'Beef Tacos', '600', 'dinner', '2024-11-14', '10.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['18', 'Vegetable Stir Fry', '400', 'dinner', '2024-11-14', '8.5', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['19', 'Classic Waffles', '400', 'breakfast', '2024-11-15', '7.0', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['20', 'Banana Nut Bread', '350', 'breakfast', '2024-11-15', '5.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['21', 'Teriyaki Chicken Bowl', '500', 'lunch', '2024-11-15', '10.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['22', 'Vegetable Curry', '400', 'lunch', '2024-11-15', '9.0', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['23', 'Cheese Pizza Slice', '300', 'dinner', '2024-11-15', '8.5', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['24', 'Lentil Stew', '300', 'dinner', '2024-11-15', '8.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['25', 'Chocolate Croissant', '300', 'breakfast', '2024-11-16', '5.5', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['26', 'Raspberry Oat Muffin', '200', 'breakfast', '2024-11-16', '5.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['27', 'Caesar Salad', '300', 'lunch', '2024-11-16', '7.5', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['28', 'Spinach Mushroom Quiche', '350', 'lunch', '2024-11-16', '9.0', '50']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['29', 'Ham and Cheese Croissant', '400', 'dinner', '2024-11-16', '7.5', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['30', 'Eggplant Parmesan', '500', 'dinner', '2024-11-16', '10.5', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['31', 'Scrambled Eggs and Bacon', '500', 'breakfast', '2024-11-17', '8.0', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['32', 'Mediterranean Veggie Wrap', '400', 'breakfast', '2024-11-17', '6.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['33', 'Chicken Caesar Wrap', '300', 'lunch', '2024-11-17', '8.0', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['34', 'Ratatouille', '300', 'lunch', '2024-11-17', '7.5', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['35', 'BBQ Chicken Salad', '400', 'dinner', '2024-11-17', '9.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['36', 'Mango Salsa Salmon', '550', 'dinner', '2024-11-17', '15.0', '50']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['37', 'Greek Yogurt Parfait', '250', 'breakfast', '2024-11-18', '6.0', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['38', 'Chocolate Chip Muffin', '350', 'breakfast', '2024-11-18', '5.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['39', 'Vegetable Soup', '200', 'lunch', '2024-11-18', '7.0', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['40', 'Turkey BLT Sandwich', '450', 'lunch', '2024-11-18', '9.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['41', 'Chicken Noodle Soup', '300', 'dinner', '2024-11-18', '8.0', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['42', 'Lentil Stew', '300', 'dinner', '2024-11-18', '8.5', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['43', 'Avocado Toast', '300', 'breakfast', '2024-11-19', '6.5', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['44', 'Fruit Parfait', '200', 'breakfast', '2024-11-19', '6.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['45', 'Caesar Salad', '300', 'lunch', '2024-11-19', '7.5', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['46', 'Mediterranean Veggie Wrap', '400', 'lunch', '2024-11-19', '7.5', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['47', 'Mango Salsa Salmon', '550', 'dinner', '2024-11-19', '15.0', '50']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['48', 'Eggplant Parmesan', '500', 'dinner', '2024-11-19', '10.5', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['49', 'Scrambled Eggs and Bacon', '500', 'breakfast', '2024-11-20', '8.0', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['50', 'Banana Nut Bread', '350', 'breakfast', '2024-11-20', '5.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['51', 'Vegan Burrito Bowl', '500', 'lunch', '2024-11-20', '9.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['52', 'Lentil Stew', '300', 'lunch', '2024-11-20', '8.5', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['53', 'Beef Tacos', '600', 'dinner', '2024-11-20', '10.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['54', 'BBQ Chicken Salad', '400', 'dinner', '2024-11-20', '9.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['55', 'Classic Waffles', '400', 'breakfast', '2024-11-21', '7.0', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['56', 'Chocolate Chip Muffin', '350', 'breakfast', '2024-11-21', '5.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['57', 'Vegetable Stir Fry', '400', 'lunch', '2024-11-21', '8.5', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['58', 'Cheese Pizza Slice', '300', 'lunch', '2024-11-21', '8.0', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['59', 'Shrimp Scampi', '600', 'dinner', '2024-11-21', '12.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['60', 'Mango Salsa Salmon', '550', 'dinner', '2024-11-21', '15.0', '50']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['61', 'Greek Yogurt Parfait', '250', 'breakfast', '2024-11-22', '6.0', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['62', 'Raspberry Oat Muffin', '200', 'breakfast', '2024-11-22', '5.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['63', 'Mediterranean Veggie Wrap', '400', 'lunch', '2024-11-22', '7.5', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['64', 'Greek Salad', '250', 'lunch', '2024-11-22', '8.0', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['65', 'Eggplant Parmesan', '500', 'dinner', '2024-11-22', '10.5', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['66', 'Chicken Alfredo Pasta', '550', 'dinner', '2024-11-22', '10.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['67', 'Classic Waffles', '400', 'breakfast', '2024-11-23', '7.0', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['68', 'Chocolate Croissant', '300', 'breakfast', '2024-11-23', '5.5', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['69', 'Chicken Caesar Wrap', '300', 'lunch', '2024-11-23', '8.0', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['70', 'Spinach Mushroom Quiche', '350', 'lunch', '2024-11-23', '9.0', '50']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['71', 'Lentil Stew', '300', 'dinner', '2024-11-23', '8.5', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['72', 'Shrimp Scampi', '600', 'dinner', '2024-11-23', '12.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['73', 'Banana Nut Bread', '350', 'breakfast', '2024-11-24', '5.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['74', 'Fruit Parfait', '200', 'breakfast', '2024-11-24', '6.0', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['75', 'Chicken Noodle Soup', '300', 'lunch', '2024-11-24', '8.0', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['76', 'Turkey BLT Sandwich', '450', 'lunch', '2024-11-24', '9.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['77', 'Mediterranean Veggie Wrap', '400', 'dinner', '2024-11-24', '8.5', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['78', 'Eggplant Parmesan', '500', 'dinner', '2024-11-24', '10.5', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['79', 'Scrambled Eggs and Bacon', '500', 'breakfast', '2024-11-25', '8.0', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['80', 'Classic Waffles', '400', 'breakfast', '2024-11-25', '7.0', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['81', 'Caesar Salad', '300', 'lunch', '2024-11-25', '7.5', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['82', 'Vegetable Stir Fry', '400', 'lunch', '2024-11-25', '8.5', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['83', 'Cheese Pizza Slice', '300', 'dinner', '2024-11-25', '8.0', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['84', 'Mango Salsa Salmon', '550', 'dinner', '2024-11-25', '15.0', '50']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['85', 'Raspberry Oat Muffin', '200', 'breakfast', '2024-11-26', '5.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['86', 'Avocado Toast', '300', 'breakfast', '2024-11-26', '6.5', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['87', 'Mediterranean Veggie Wrap', '400', 'lunch', '2024-11-26', '7.5', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['88', 'Spinach Mushroom Quiche', '350', 'lunch', '2024-11-26', '9.0', '50']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['89', 'Beef Tacos', '600', 'dinner', '2024-11-26', '10.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['90', 'Banana Nut Bread', '350', 'dinner', '2024-11-26', '5.0', '100']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['91', 'Banana Pancakes', '400', 'breakfast', '2024-11-27', '7.5', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['92', 'Greek Yogurt Parfait', '250', 'breakfast', '2024-11-27', '6.0', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['93', 'Chicken Caesar Wrap', '300', 'lunch', '2024-11-27', '8.0', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['94', 'Greek Salad', '250', 'lunch', '2024-11-27', '8.0', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['95', 'Vegetable Curry', '400', 'dinner', '2024-11-27', '9.0', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['96', 'BBQ Pulled Pork Sandwich', '700', 'dinner', '2024-11-27', '9.0', '50']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['97', 'Scrambled Eggs and Bacon', '500', 'breakfast', '2024-11-28', '8.0', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['98', 'Fruit Parfait', '200', 'breakfast', '2024-11-28', '6.0', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['99', 'Vegetable Soup', '200', 'lunch', '2024-11-28', '7.0', '150']
['item_id', 'item_name', 'calories_per_serving', 'meal_type', 'available_date', 'price', 'quantity']
['100', 'Caesar Salad', '300', 'lunch', '2024-11-28', '7.5', '150']

In [10]:
procedure_sql="""
        CREATE PROCEDURE register_student(IN p INT, IN f VARCHAR(255), IN l VARCHAR(255), IN pwh CHAR(64))
        BEGIN
            INSERT INTO Students (pid, first_name, last_name, password_hash)
            VALUES (p, f, l, pwh);
        END;
        """
cursor.execute(procedure_sql)

0

In [12]:
cursor.execute('SELECT * FROM Menu')
result = cursor.fetchall()
print(result)

((-1, 'To-Go Box', 0, 'To-Go', datetime.date(2024, 12, 1), Decimal('0.00'), 10), (1, 'Oatmeal', 150, 'breakfast', datetime.date(2024, 11, 12), Decimal('5.00'), 100), (2, 'Banana Pancakes', 200, 'breakfast', datetime.date(2024, 11, 12), Decimal('11.00'), 200), (3, 'Grilled Chicken Sandwich', 600, 'dinner', datetime.date(2024, 11, 12), Decimal('8.00'), 100), (4, 'Spaghetti Bolognese', 450, 'dinner', datetime.date(2024, 11, 12), Decimal('6.00'), 200), (5, 'Pasta Primavera', 450, 'lunch', datetime.date(2024, 11, 12), Decimal('11.00'), 100), (6, 'Chicken Caesar Wrap', 300, 'lunch', datetime.date(2024, 11, 12), Decimal('8.00'), 150), (7, 'Bagel with Cream Cheese', 250, 'breakfast', datetime.date(2024, 11, 13), Decimal('5.50'), 100), (8, 'Fruit Parfait', 200, 'breakfast', datetime.date(2024, 11, 13), Decimal('6.00'), 100), (9, 'Vegan Burrito Bowl', 500, 'lunch', datetime.date(2024, 11, 13), Decimal('9.00'), 100), (10, 'Mediterranean Veggie Wrap', 400, 'lunch', datetime.date(2024, 11, 13), Decimal('7.50'), 100), (11, 'Shrimp Scampi', 600, 'dinner', datetime.date(2024, 11, 13), Decimal('12.00'), 100), (12, 'BBQ Pulled Pork Sandwich', 700, 'dinner', datetime.date(2024, 11, 13), Decimal('9.00'), 100), (13, 'Avocado Toast', 300, 'breakfast', datetime.date(2024, 11, 14), Decimal('6.50'), 100), (14, 'Greek Yogurt Parfait', 250, 'breakfast', datetime.date(2024, 11, 14), Decimal('6.00'), 100), (15, 'Chicken Alfredo Pasta', 550, 'lunch', datetime.date(2024, 11, 14), Decimal('10.00'), 100), (16, 'Turkey BLT Sandwich', 450, 'lunch', datetime.date(2024, 11, 14), Decimal('9.00'), 100), (17, 'Beef Tacos', 600, 'dinner', datetime.date(2024, 11, 14), Decimal('10.00'), 100), (18, 'Vegetable Stir Fry', 400, 'dinner', datetime.date(2024, 11, 14), Decimal('8.50'), 150), (19, 'Classic Waffles', 400, 'breakfast', datetime.date(2024, 11, 15), Decimal('7.00'), 150), (20, 'Banana Nut Bread', 350, 'breakfast', datetime.date(2024, 11, 15), Decimal('5.00'), 100), (21, 'Teriyaki Chicken Bowl', 500, 'lunch', datetime.date(2024, 11, 15), Decimal('10.00'), 100), (22, 'Vegetable Curry', 400, 'lunch', datetime.date(2024, 11, 15), Decimal('9.00'), 150), (23, 'Cheese Pizza Slice', 300, 'dinner', datetime.date(2024, 11, 15), Decimal('8.50'), 150), (24, 'Lentil Stew', 300, 'dinner', datetime.date(2024, 11, 15), Decimal('8.00'), 100), (25, 'Chocolate Croissant', 300, 'breakfast', datetime.date(2024, 11, 16), Decimal('5.50'), 100), (26, 'Raspberry Oat Muffin', 200, 'breakfast', datetime.date(2024, 11, 16), Decimal('5.00'), 100), (27, 'Caesar Salad', 300, 'lunch', datetime.date(2024, 11, 16), Decimal('7.50'), 150), (28, 'Spinach Mushroom Quiche', 350, 'lunch', datetime.date(2024, 11, 16), Decimal('9.00'), 50), (29, 'Ham and Cheese Croissant', 400, 'dinner', datetime.date(2024, 11, 16), Decimal('7.50'), 100), (30, 'Eggplant Parmesan', 500, 'dinner', datetime.date(2024, 11, 16), Decimal('10.50'), 100), (31, 'Scrambled Eggs and Bacon', 500, 'breakfast', datetime.date(2024, 11, 17), Decimal('8.00'), 150), (32, 'Mediterranean Veggie Wrap', 400, 'breakfast', datetime.date(2024, 11, 17), Decimal('6.00'), 100), (33, 'Chicken Caesar Wrap', 300, 'lunch', datetime.date(2024, 11, 17), Decimal('8.00'), 150), (34, 'Ratatouille', 300, 'lunch', datetime.date(2024, 11, 17), Decimal('7.50'), 100), (35, 'BBQ Chicken Salad', 400, 'dinner', datetime.date(2024, 11, 17), Decimal('9.00'), 100), (36, 'Mango Salsa Salmon', 550, 'dinner', datetime.date(2024, 11, 17), Decimal('15.00'), 50), (37, 'Greek Yogurt Parfait', 250, 'breakfast', datetime.date(2024, 11, 18), Decimal('6.00'), 150), (38, 'Chocolate Chip Muffin', 350, 'breakfast', datetime.date(2024, 11, 18), Decimal('5.00'), 100), (39, 'Vegetable Soup', 200, 'lunch', datetime.date(2024, 11, 18), Decimal('7.00'), 150), (40, 'Turkey BLT Sandwich', 450, 'lunch', datetime.date(2024, 11, 18), Decimal('9.00'), 100), (41, 'Chicken Noodle Soup', 300, 'dinner', datetime.date(2024, 11, 18), Decimal('8.00'), 150), (42, 'Lentil Stew', 300, 'dinner', datetime.date(2024, 11, 18), Decimal('8.50'), 100), (43, 'Avocado Toast', 300, 'breakfast', datetime.date(2024, 11, 19), Decimal('6.50'), 100), (44, 'Fruit Parfait', 200, 'breakfast', datetime.date(2024, 11, 19), Decimal('6.00'), 100), (45, 'Caesar Salad', 300, 'lunch', datetime.date(2024, 11, 19), Decimal('7.50'), 150), (46, 'Mediterranean Veggie Wrap', 400, 'lunch', datetime.date(2024, 11, 19), Decimal('7.50'), 100), (47, 'Mango Salsa Salmon', 550, 'dinner', datetime.date(2024, 11, 19), Decimal('15.00'), 50), (48, 'Eggplant Parmesan', 500, 'dinner', datetime.date(2024, 11, 19), Decimal('10.50'), 100), (49, 'Scrambled Eggs and Bacon', 500, 'breakfast', datetime.date(2024, 11, 20), Decimal('8.00'), 150), (50, 'Banana Nut Bread', 350, 'breakfast', datetime.date(2024, 11, 20), Decimal('5.00'), 100), (51, 'Vegan Burrito Bowl', 500, 'lunch', datetime.date(2024, 11, 20), Decimal('9.00'), 100), (52, 'Lentil Stew', 300, 'lunch', datetime.date(2024, 11, 20), Decimal('8.50'), 100), (53, 'Beef Tacos', 600, 'dinner', datetime.date(2024, 11, 20), Decimal('10.00'), 100), (54, 'BBQ Chicken Salad', 400, 'dinner', datetime.date(2024, 11, 20), Decimal('9.00'), 100), (55, 'Classic Waffles', 400, 'breakfast', datetime.date(2024, 11, 21), Decimal('7.00'), 150), (56, 'Chocolate Chip Muffin', 350, 'breakfast', datetime.date(2024, 11, 21), Decimal('5.00'), 100), (57, 'Vegetable Stir Fry', 400, 'lunch', datetime.date(2024, 11, 21), Decimal('8.50'), 150), (58, 'Cheese Pizza Slice', 300, 'lunch', datetime.date(2024, 11, 21), Decimal('8.00'), 150), (59, 'Shrimp Scampi', 600, 'dinner', datetime.date(2024, 11, 21), Decimal('12.00'), 100), (60, 'Mango Salsa Salmon', 550, 'dinner', datetime.date(2024, 11, 21), Decimal('15.00'), 50), (61, 'Greek Yogurt Parfait', 250, 'breakfast', datetime.date(2024, 11, 22), Decimal('6.00'), 150), (62, 'Raspberry Oat Muffin', 200, 'breakfast', datetime.date(2024, 11, 22), Decimal('5.00'), 100), (63, 'Mediterranean Veggie Wrap', 400, 'lunch', datetime.date(2024, 11, 22), Decimal('7.50'), 100), (64, 'Greek Salad', 250, 'lunch', datetime.date(2024, 11, 22), Decimal('8.00'), 150), (65, 'Eggplant Parmesan', 500, 'dinner', datetime.date(2024, 11, 22), Decimal('10.50'), 100), (66, 'Chicken Alfredo Pasta', 550, 'dinner', datetime.date(2024, 11, 22), Decimal('10.00'), 100), (67, 'Classic Waffles', 400, 'breakfast', datetime.date(2024, 11, 23), Decimal('7.00'), 150), (68, 'Chocolate Croissant', 300, 'breakfast', datetime.date(2024, 11, 23), Decimal('5.50'), 100), (69, 'Chicken Caesar Wrap', 300, 'lunch', datetime.date(2024, 11, 23), Decimal('8.00'), 150), (70, 'Spinach Mushroom Quiche', 350, 'lunch', datetime.date(2024, 11, 23), Decimal('9.00'), 50), (71, 'Lentil Stew', 300, 'dinner', datetime.date(2024, 11, 23), Decimal('8.50'), 100), (72, 'Shrimp Scampi', 600, 'dinner', datetime.date(2024, 11, 23), Decimal('12.00'), 100), (73, 'Banana Nut Bread', 350, 'breakfast', datetime.date(2024, 11, 24), Decimal('5.00'), 100), (74, 'Fruit Parfait', 200, 'breakfast', datetime.date(2024, 11, 24), Decimal('6.00'), 150), (75, 'Chicken Noodle Soup', 300, 'lunch', datetime.date(2024, 11, 24), Decimal('8.00'), 150), (76, 'Turkey BLT Sandwich', 450, 'lunch', datetime.date(2024, 11, 24), Decimal('9.00'), 100), (77, 'Mediterranean Veggie Wrap', 400, 'dinner', datetime.date(2024, 11, 24), Decimal('8.50'), 100), (78, 'Eggplant Parmesan', 500, 'dinner', datetime.date(2024, 11, 24), Decimal('10.50'), 100), (79, 'Scrambled Eggs and Bacon', 500, 'breakfast', datetime.date(2024, 11, 25), Decimal('8.00'), 150), (80, 'Classic Waffles', 400, 'breakfast', datetime.date(2024, 11, 25), Decimal('7.00'), 150), (81, 'Caesar Salad', 300, 'lunch', datetime.date(2024, 11, 25), Decimal('7.50'), 150), (82, 'Vegetable Stir Fry', 400, 'lunch', datetime.date(2024, 11, 25), Decimal('8.50'), 150), (83, 'Cheese Pizza Slice', 300, 'dinner', datetime.date(2024, 11, 25), Decimal('8.00'), 150), (84, 'Mango Salsa Salmon', 550, 'dinner', datetime.date(2024, 11, 25), Decimal('15.00'), 50), (85, 'Raspberry Oat Muffin', 200, 'breakfast', datetime.date(2024, 11, 26), Decimal('5.00'), 100), (86, 'Avocado Toast', 300, 'breakfast', datetime.date(2024, 11, 26), Decimal('6.50'), 100), (87, 'Mediterranean Veggie Wrap', 400, 'lunch', datetime.date(2024, 11, 26), Decimal('7.50'), 100), (88, 'Spinach Mushroom Quiche', 350, 'lunch', datetime.date(2024, 11, 26), Decimal('9.00'), 50), (89, 'Beef Tacos', 600, 'dinner', datetime.date(2024, 11, 26), Decimal('10.00'), 100), (90, 'Banana Nut Bread', 350, 'dinner', datetime.date(2024, 11, 26), Decimal('5.00'), 100), (91, 'Banana Pancakes', 400, 'breakfast', datetime.date(2024, 11, 27), Decimal('7.50'), 150), (92, 'Greek Yogurt Parfait', 250, 'breakfast', datetime.date(2024, 11, 27), Decimal('6.00'), 150), (93, 'Chicken Caesar Wrap', 300, 'lunch', datetime.date(2024, 11, 27), Decimal('8.00'), 150), (94, 'Greek Salad', 250, 'lunch', datetime.date(2024, 11, 27), Decimal('8.00'), 150), (95, 'Vegetable Curry', 400, 'dinner', datetime.date(2024, 11, 27), Decimal('9.00'), 150), (96, 'BBQ Pulled Pork Sandwich', 700, 'dinner', datetime.date(2024, 11, 27), Decimal('9.00'), 50), (97, 'Scrambled Eggs and Bacon', 500, 'breakfast', datetime.date(2024, 11, 28), Decimal('8.00'), 150), (98, 'Fruit Parfait', 200, 'breakfast', datetime.date(2024, 11, 28), Decimal('6.00'), 150), (99, 'Vegetable Soup', 200, 'lunch', datetime.date(2024, 11, 28), Decimal('7.00'), 150), (100, 'Caesar Salad', 300, 'lunch', datetime.date(2024, 11, 28), Decimal('7.50'), 150))

In [14]:
# ## Insert Query Example
new_item_details = (6, 'SandwichTest', 600, 'lunch', '2024-11-12', 10.00)
cursor.execute('INSERT INTO Menu (item_id, item_name, calories_per_serving, meal_type, available_date, price) VALUES (%s, %s, %s, %s, %s, %s);', new_item_details)
db.commit()

# ## Select Query Example
cursor.execute('SELECT * FROM Menu')
result = cursor.fetchall()
print(result)

OperationalError: (1364, "Field 'quantity' doesn't have a default value")

In [16]:
cursor.execute('SELECT * FROM Students')
result = cursor.fetchall()
print(result)

((123456789, 'Gordon', 'Ramses', Decimal('0.00'), 0, '6e0443b8291b1eef035f0d69889f0be7e75c4afb35f4c43ad34591b60a3bec57', 'admin'), (246010000, 'Martha', 'Stuart', Decimal('0.00'), 0, '99ce2da94ddb5516da4b2421019473aa4f4884e79b39383df14484b12c7cc185', 'admin'), (730123689, 'Shawn', 'Davis', Decimal('117.09'), 1, '74a8da8c7c7955a58f969371a1f2a91e5621dc726b3a3613f75b94366f4b1fd9', 'student'), (730157123, 'Shawn', 'Moore', Decimal('139.32'), 0, '74a8da8c7c7955a58f969371a1f2a91e5621dc726b3a3613f75b94366f4b1fd9', 'student'), (730160295, 'Riley', 'Wilson', Decimal('134.64'), 0, 'a7e170c192e3488fd7304306878a92659a63921d3aa28eaabe080fe381b65797', 'student'), (730300911, 'Chris', 'Davis', Decimal('53.07'), 2, 'e59ae67897757d1a138a46c1f501ce94321e96aa7ec4445e0e97e94f2ec6c8e1', 'student'), (730312663, 'Jordan', 'Brown', Decimal('65.86'), 1, 'b7bacfdd6ae95ed150ec2a3296ae80252345c2c9079dd064060e0a13d0a93df4', 'student'), (730318674, 'Riley', 'Jones', Decimal('98.12'), 1, 'a7e170c192e3488fd7304306878a92659a63921d3aa28eaabe080fe381b65797', 'student'), (730330697, 'Ryan', 'Schmelzle', Decimal('30.50'), 2, 'bf0d017e762056009c5aad92ce77100a101d8dc50ad4c45659003b7216b00e46', 'student'), (730372680, 'Taylor', 'Davis', Decimal('76.95'), 3, 'b1d1dcb65ae354f1fb6260f6d819c2bc43ba038de2d2ccabb6e3f497c631ccbc', 'student'), (730429181, 'Drew', 'Miller', Decimal('58.34'), 3, '8ad7506daeda6ba387c9a1bc1c68e05b493c7932f62775de3938bf4473e8b96d', 'student'), (730473910, 'Kayla', 'Casey', Decimal('50.75'), 1, 'fd5cb51bafd60f6fdbedde6e62c473da6f247db271633e15919bab78a02ee9eb', 'student'), (730478123, 'Riley', 'Smith', Decimal('67.48'), 0, 'a7e170c192e3488fd7304306878a92659a63921d3aa28eaabe080fe381b65797', 'student'), (730485796, 'Morgan', 'Williams', Decimal('24.65'), 1, 'ccccbe4053d3c63565f03ecce8b9c85f2c503619d540129045af5f3255a030d7', 'student'), (730493786, 'Jordan', 'Williams', Decimal('84.64'), 1, 'b7bacfdd6ae95ed150ec2a3296ae80252345c2c9079dd064060e0a13d0a93df4', 'student'), (730497123, 'Morgan', 'Jones', Decimal('126.32'), 0, 'ccccbe4053d3c63565f03ecce8b9c85f2c503619d540129045af5f3255a030d7', 'student'), (730560194, 'Haley', 'Parker', Decimal('120.00'), 0, '6a1077e9be8b4e32de8fe29bbe80419d519f95c27e8f9b300f3386316c593586', 'student'), (730578592, 'Yashvi', 'Tanneru', Decimal('75.00'), 1, '7d1a54127b222502f5b79b5fb0803061152a44f92b37e23c6527baf665d4da9a', 'student'), (730598762, 'Jamie', 'Miller', Decimal('102.56'), 0, '6f5da92f4e978fb3383b814f4c5f77ddbfeb7a70fc62e967d39e1d428c273cb2', 'student'), (730606073, 'Taylor', 'Smith', Decimal('71.72'), 0, 'b1d1dcb65ae354f1fb6260f6d819c2bc43ba038de2d2ccabb6e3f497c631ccbc', 'student'), (730624395, 'Alex', 'Taylor', Decimal('105.78'), 0, 'd9508122cd143d69df229bf3624b7bcb2b8ac81ed210a0c926455ef119c12abd', 'student'), (730624917, 'Drew', 'Williams', Decimal('49.85'), 3, '8ad7506daeda6ba387c9a1bc1c68e05b493c7932f62775de3938bf4473e8b96d', 'student'), (730721850, 'Chris', 'Moore', Decimal('11.29'), 0, 'e59ae67897757d1a138a46c1f501ce94321e96aa7ec4445e0e97e94f2ec6c8e1', 'student'), (730782456, 'Alex', 'Johnson', Decimal('36.75'), 2, 'd9508122cd143d69df229bf3624b7bcb2b8ac81ed210a0c926455ef119c12abd', 'student'), (730845931, 'Casey', 'Smith', Decimal('45.03'), 2, '2c2038912a4b2ec387921a47069f25badbfa9b6442876d11a2249fb56b2340e2', 'student'), (730912548, 'Jamie', 'Johnson', Decimal('82.47'), 2, '6f5da92f4e978fb3383b814f4c5f77ddbfeb7a70fc62e967d39e1d428c273cb2', 'student'), (987654321, 'Guy', 'Feeyarey', Decimal('0.00'), 0, '782af4ba40f9fbae4c081fe35a3d1220d193684e05d8776c71bbafe162d86c44', 'admin'))

In [18]:
### Sign-In Page Backend Code + Queries

test_case='admin'

if test_case=='student':
    entered_pid='730330697'
    entered_password='ramses123'
elif test_case=='admin':
    entered_pid='987654321'
    entered_password='flav0rTown!!!'
elif test_case=='wrong_password':
    entered_pid='987654321'
    entered_password='wrong_pass'
elif test_case=='nonexistant_user':
    entered_pid='222222222'
    entered_password='wrongPass'

cursor.execute('SELECT * FROM Students S WHERE S.pid=%s', entered_pid)
result = cursor.fetchall()

entered_password_hash=hash_password(entered_password)
try:
    if (result[0][5]==entered_password_hash):
        print('Sign-In Success')
        current_user = {
            'pid': result[0][0],
            'first_name': result[0][1],
            'last_name': result[0][2],
            'balance': result[0][3],
            'to_go_remaining': result[0][4],
            'password_hash': result[0][5],
            'role': result[0][6],
        }
        print(current_user)

        if current_user['role']=='admin':
            print('direct to admin page')
        else:
            print('direct to student')
    else:
        print('incorrect password code')
except:
    print('pid not found')

Sign-In Success
{'pid': 987654321, 'first_name': 'Guy', 'last_name': 'Feeyarey', 'balance': Decimal('0.00'), 'to_go_remaining': 0, 'password_hash': '782af4ba40f9fbae4c081fe35a3d1220d193684e05d8776c71bbafe162d86c44', 'role': 'admin'}
direct to admin page

In [20]:
### Landing Page
# based on current user from sign-in cell; 
today_date='2024-11-13'

### Header 
# Common Info
# print(f'Name: {current_user["first_name"]} {current_user["last_name"]}')
print(f'Name: {current_user["first_name"]} {current_user["last_name"]}')
print(f'PID: {current_user["pid"]}')
print(f'{current_user["role"].title()} View')

# Right Header
if current_user["role"]=='student':
    print(f'Account Balance: ${current_user["balance"]}')
    print(f'To-Go Boxes Remaining: {current_user["to_go_remaining"]}/2')
if current_user["role"]=='admin':
    print('Button for New Order')
    print('Button for Student Management')

# Transaction History
if current_user["role"]=='student':
    print("Your Transaction History")
    cursor.execute('SELECT * FROM Transactions T WHERE T.pid=%s', current_user["pid"])
    result = cursor.fetchall()
    print(result)
elif current_user["role"]=='admin':
    print("Transaction History")
    cursor.execute('SELECT * FROM Transactions T')
    result = cursor.fetchall()
    print(result)

# Today's Menu
print("Today's Menu")
cursor.execute('SELECT * FROM Menu M where available_date=%s', today_date)
result = cursor.fetchall()
print(result)

Name: Guy Feeyarey
PID: 987654321
Admin View
Button for New Order
Button for Student Management
Transaction History
((1, 730473910, 1, 'dine-in', datetime.date(2024, 11, 10)), (2, 730560194, 2, 'dine-in', datetime.date(2024, 11, 11)), (3, 730330697, 3, 'dine-in', datetime.date(2024, 11, 9)), (4, 730578592, 4, 'to-go', datetime.date(2024, 11, 10)), (5, 730330697, 2, 'to-go', datetime.date(2024, 11, 10)), (6, 730497123, 20, 'to-go', datetime.date(2024, 11, 13)), (7, 730429181, 62, 'dine-in', datetime.date(2024, 11, 16)), (8, 730160295, 73, 'to-go', datetime.date(2024, 11, 17)), (9, 730721850, 33, 'dine-in', datetime.date(2024, 11, 14)), (10, 730312663, 41, 'to-go', datetime.date(2024, 11, 14)), (11, 730782456, 29, 'to-go', datetime.date(2024, 11, 23)), (12, 730157123, 28, 'dine-in', datetime.date(2024, 11, 21)), (13, 730485796, 57, 'to-go', datetime.date(2024, 11, 28)), (14, 730782456, 13, 'to-go', datetime.date(2024, 11, 14)), (15, 730123689, 57, 'to-go', datetime.date(2024, 11, 13)), (16, 730497123, 76, 'to-go', datetime.date(2024, 11, 23)), (17, 730598762, 54, 'to-go', datetime.date(2024, 11, 17)), (18, 730624395, 9, 'to-go', datetime.date(2024, 11, 24)), (19, 730429181, 31, 'dine-in', datetime.date(2024, 11, 24)), (20, 730912548, 93, 'dine-in', datetime.date(2024, 11, 16)), (21, 730478123, 81, 'dine-in', datetime.date(2024, 11, 20)), (22, 730312663, 69, 'to-go', datetime.date(2024, 11, 25)), (23, 730123689, 60, 'to-go', datetime.date(2024, 11, 12)), (24, 730478123, 47, 'to-go', datetime.date(2024, 11, 24)), (25, 730123689, 94, 'dine-in', datetime.date(2024, 11, 14)), (26, 730912548, 12, 'to-go', datetime.date(2024, 11, 14)), (27, 730312663, 1, 'to-go', datetime.date(2024, 11, 24)), (28, 730485796, 15, 'to-go', datetime.date(2024, 11, 24)), (29, 730782456, 84, 'dine-in', datetime.date(2024, 11, 12)), (30, 730493786, 75, 'dine-in', datetime.date(2024, 11, 20)), (31, 730606073, 30, 'dine-in', datetime.date(2024, 11, 15)), (32, 730429181, 60, 'dine-in', datetime.date(2024, 11, 26)), (33, 730624395, 1, 'to-go', datetime.date(2024, 11, 19)), (34, 730318674, 54, 'to-go', datetime.date(2024, 11, 12)), (35, 730318674, 62, 'to-go', datetime.date(2024, 11, 24)), (36, 730429181, 47, 'to-go', datetime.date(2024, 11, 25)), (37, 730493786, 92, 'dine-in', datetime.date(2024, 11, 19)), (38, 730624395, 78, 'dine-in', datetime.date(2024, 11, 21)), (39, 730157123, 55, 'to-go', datetime.date(2024, 11, 27)), (40, 730606073, 59, 'dine-in', datetime.date(2024, 11, 23)), (41, 730478123, 29, 'dine-in', datetime.date(2024, 11, 21)), (42, 730624917, 31, 'to-go', datetime.date(2024, 11, 18)), (43, 730845931, 96, 'dine-in', datetime.date(2024, 11, 25)), (44, 730912548, 9, 'to-go', datetime.date(2024, 11, 22)), (45, 730485796, 92, 'to-go', datetime.date(2024, 11, 23)), (46, 730624395, 75, 'dine-in', datetime.date(2024, 11, 28)), (47, 730782456, 69, 'to-go', datetime.date(2024, 11, 27)), (48, 730624917, 11, 'to-go', datetime.date(2024, 11, 13)), (49, 730497123, 98, 'dine-in', datetime.date(2024, 11, 13)), (50, 730624917, 25, 'to-go', datetime.date(2024, 11, 22)), (51, 730372680, 3, 'to-go', datetime.date(2024, 11, 28)), (52, 730721850, 87, 'dine-in', datetime.date(2024, 11, 17)), (53, 730782456, 1, 'to-go', datetime.date(2024, 11, 25)), (54, 730624395, 4, 'to-go', datetime.date(2024, 11, 25)), (55, 730606073, 22, 'dine-in', datetime.date(2024, 11, 28)), (56, 730123689, 85, 'to-go', datetime.date(2024, 11, 20)), (57, 730845931, 93, 'to-go', datetime.date(2024, 11, 23)), (58, 730123689, 49, 'to-go', datetime.date(2024, 11, 25)), (59, 730485796, 95, 'dine-in', datetime.date(2024, 11, 16)), (60, 730485796, 23, 'to-go', datetime.date(2024, 11, 12)), (61, 730160295, 64, 'dine-in', datetime.date(2024, 11, 26)), (62, 730372680, 68, 'to-go', datetime.date(2024, 11, 17)), (63, 730429181, 62, 'dine-in', datetime.date(2024, 11, 21)), (64, 730493786, 79, 'dine-in', datetime.date(2024, 11, 25)), (65, 730845931, 31, 'dine-in', datetime.date(2024, 11, 25)), (66, 730493786, 87, 'to-go', datetime.date(2024, 11, 24)), (67, 730157123, 94, 'to-go', datetime.date(2024, 11, 25)), (68, 730606073, 58, 'to-go', datetime.date(2024, 11, 15)), (69, 730497123, 1, 'to-go', datetime.date(2024, 11, 16)), (70, 730429181, 95, 'dine-in', datetime.date(2024, 11, 15)), (71, 730624917, 54, 'to-go', datetime.date(2024, 11, 13)), (72, 730721850, 100, 'dine-in', datetime.date(2024, 11, 20)), (73, 730782456, 95, 'to-go', datetime.date(2024, 11, 14)), (74, 730160295, 30, 'dine-in', datetime.date(2024, 11, 28)), (75, 730429181, 93, 'to-go', datetime.date(2024, 11, 25)), (76, 730312663, 14, 'to-go', datetime.date(2024, 11, 28)), (77, 730598762, 12, 'to-go', datetime.date(2024, 11, 14)), (78, 730912548, 46, 'dine-in', datetime.date(2024, 11, 14)), (79, 730721850, 66, 'to-go', datetime.date(2024, 11, 17)), (80, 730312663, 21, 'to-go', datetime.date(2024, 11, 20)), (81, 730429181, 38, 'dine-in', datetime.date(2024, 11, 20)), (82, 730300911, 27, 'dine-in', datetime.date(2024, 11, 23)), (83, 730606073, 1, 'dine-in', datetime.date(2024, 11, 15)), (84, 730478123, 48, 'to-go', datetime.date(2024, 11, 23)), (85, 730493786, 23, 'dine-in', datetime.date(2024, 11, 24)), (86, 730312663, 47, 'dine-in', datetime.date(2024, 11, 12)), (87, 730624395, 82, 'dine-in', datetime.date(2024, 11, 28)), (88, 730318674, 72, 'to-go', datetime.date(2024, 11, 24)), (89, 730606073, 57, 'to-go', datetime.date(2024, 11, 12)), (90, 730624917, 20, 'to-go', datetime.date(2024, 11, 21)))
Today's Menu
((7, 'Bagel with Cream Cheese', 250, 'breakfast', datetime.date(2024, 11, 13), Decimal('5.50'), 100), (8, 'Fruit Parfait', 200, 'breakfast', datetime.date(2024, 11, 13), Decimal('6.00'), 100), (9, 'Vegan Burrito Bowl', 500, 'lunch', datetime.date(2024, 11, 13), Decimal('9.00'), 100), (10, 'Mediterranean Veggie Wrap', 400, 'lunch', datetime.date(2024, 11, 13), Decimal('7.50'), 100), (11, 'Shrimp Scampi', 600, 'dinner', datetime.date(2024, 11, 13), Decimal('12.00'), 100), (12, 'BBQ Pulled Pork Sandwich', 700, 'dinner', datetime.date(2024, 11, 13), Decimal('9.00'), 100))

In [22]:
# Create the trigger to prevent negative to-go boxes
prevent_negative_to_go_boxes_trigger = """
CREATE TRIGGER prevent_negative_to_go_boxes
BEFORE UPDATE ON Students
FOR EACH ROW
BEGIN
    IF NEW.to_go_boxes_remaining < 0 THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Error: To-go boxes cannot go negative.';
    END IF;
END;
"""

# Create the trigger to prevent negative meal balance
prevent_negative_meal_balance_trigger = """
CREATE TRIGGER prevent_negative_meal_balance
BEFORE UPDATE ON Students
FOR EACH ROW
BEGIN
    IF NEW.meal_balance < 0 THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Error: Meal balance cannot go negative.';
    END IF;
END;
"""

In [24]:
### Orders Page
today_date='2024-11-13'

# Header showing current student
print(f"Student PID: {current_user['pid']}")

# Create the checkbox widget
to_go_checkbox = widgets.Checkbox(
    value=False,  # Initially unchecked
    description='To-Go Box',
    disabled=False
)

# Display the checkbox
display(to_go_checkbox)

# Function to handle checkbox value
def checkbox_value(change):
    if change['new']:
        print("To-Go Box: Checked")
    else:
        print("To-Go Box: Unchecked")

# Attach the function to the checkbox widget
to_go_checkbox.observe(checkbox_value, names='value')

# Fetch Menu Items for Dropdown
cursor.execute("SELECT item_id, item_name FROM Menu WHERE available_date = %s;", (today_date,))
menu_items = cursor.fetchall()

# Create a dictionary for quick lookup of item names by their ID
menu_dict = {item_id: item_name for item_id, item_name in menu_items}

# Create the Dropdown Menu for Menu Items
dropdown_menu = widgets.Dropdown(
    options=[(item_name, item_id) for item_id, item_name in menu_items],  # Dropdown options
    description='Menu Item:',
    disabled=False
)

# Display the Dropdown menu
display(dropdown_menu)

# Function to handle dropdown selection (automatically adds item to TempOrders table)
def add_item_to_temp_order(change):
    item_id = change['new']
    if item_id is None:
        return  # If no item is selected, do nothing
    
    try:
        # Add the selected item to the TempOrders table
        add_to_temp_orders(current_user['pid'], item_id)
        print(f"Added {menu_dict[item_id]} to your order.")
    except Exception as e:
        print(f"Error adding item to order: {e}")

# Attach function to dropdown menu value change
dropdown_menu.observe(add_item_to_temp_order, names='value')

# Create TempOrders table if not exists
create_temp_orders_table = """
CREATE TEMPORARY TABLE IF NOT EXISTS TempOrders (
    temp_id INT AUTO_INCREMENT PRIMARY KEY,
    pid INT NOT NULL,
    item_id INT NOT NULL,
    FOREIGN KEY (pid) REFERENCES Students(pid),
    FOREIGN KEY (item_id) REFERENCES Menu(item_id)
);
"""
cursor.execute(create_temp_orders_table)

# Add items to temporary orders
def add_to_temp_orders(pid, item_id):
    query = "INSERT INTO TempOrders (pid, item_id) VALUES (%s, %s);"
    cursor.execute(query, (pid, item_id))
    db.commit()


# Display temporary orders and calculate total cost
def display_temp_orders(pid):
    query = """
    SELECT M.item_name, M.price
    FROM TempOrders T
    JOIN Menu M ON T.item_id = M.item_id
    WHERE T.pid = %s;
    """
    cursor.execute(query, (pid,))
    temp_orders = cursor.fetchall()
    total_cost = 0
    print("Item Name | Price")
    print("-----------------")
    for item_name, price in temp_orders:
        print(f"{item_name} | ${price:.2f}")
        total_cost += price
    return total_cost

# Display Order Header
print("Order:")
total_cost = display_temp_orders(current_user['pid'])
print(f"Total Cost: ${total_cost:.2f}")

def submit_order(pid, to_go_checked):
    try:
        # Begin transaction
        db.start_transaction()

        # Recalculate total cost
        total_cost = display_temp_orders(pid)

        # Validate student's balance and to-go boxes
        cursor.execute("SELECT meal_balance, to_go_boxes_remaining FROM Students WHERE pid = %s;", (pid,))
        student_data = cursor.fetchone()
        meal_balance, to_go_boxes_remaining = student_data

        if to_go_checked and to_go_boxes_remaining <= 0:
            raise Exception("Error: No to-go boxes remaining.")
        if total_cost > meal_balance:
            raise Exception("Error: Insufficient meal balance.")

        # Update Students table
        update_student_query = """
        UPDATE Students
        SET meal_balance = meal_balance - %s,
            to_go_boxes_remaining = to_go_boxes_remaining - %s
        WHERE pid = %s;
        """
        cursor.execute(update_student_query, (total_cost, int(to_go_checked), pid))

        # Insert into Transactions table
        cursor.execute("""
        SELECT item_id FROM TempOrders WHERE pid = %s;
        """, (pid,))
        items = cursor.fetchall()
        transaction_type = 'To-Go' if to_go_checked else 'Dine-In'
        for (item_id,) in items:
            insert_transaction_query = """
            INSERT INTO Transactions (pid, item_id, transaction_type, transaction_date)
            VALUES (%s, %s, %s, %s);
            """
            cursor.execute(insert_transaction_query, (pid, item_id, transaction_type, today_date))

        # Clear TempOrders
        cursor.execute("DELETE FROM TempOrders WHERE pid = %s;", (pid,))

        # Commit transaction
        db.commit()
        print("Order submitted successfully.")
    except Exception as e:
        # Rollback transaction if any error occurs
        db.rollback()
        print(f"Transaction failed: {str(e)}")


# Submit Button Logic
submit_button = widgets.Button(description="Submit Order")
def on_submit_button_clicked(b):
    submit_order(current_user['pid'], to_go_checkbox.value)

submit_button.on_click(on_submit_button_clicked)
display(submit_button)

# Home Button Logic
def home(pid):
    # Clear TempOrders for this user
    cursor.execute("DELETE FROM TempOrders WHERE pid = %s;", (pid,))
    db.commit()
    print("Returning to Landing Page...")

home_button = widgets.Button(description="Home")
def on_home_button_clicked(b):
    home(current_user['pid'])

home_button.on_click(on_home_button_clicked)
display(home_button)

Student PID: 987654321

Checkbox(value=False, description='To-Go Box')

Dropdown(description='Menu Item:', options=(('Bagel with Cream Cheese', 7), ('Fruit Parfait', 8), ('Vegan Burr…

IntegrityError: (1215, 'Cannot add foreign key constraint')

In [26]:
### Be sure to close at the end
### Note that if you close and then try to perform new queries you'll get an InterfaceError: (0, '') error and need to reopen conneciton
db.close()